<html lang="eng" ng-app="myapp">
    <head>
        <title>trainging</title> 
        <meta charset="UTF-8">
    </head>
    <h1>Training</h1>
    <body>
          <div ng-controller="MyCtrl">
                <table border="1" >
                <thead>
                    <tr>
                        <th>name</th>
                        <th>age</th>
                        <th>seniority</th>
                        <th>button</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="stu in students">
                        <td>{{stu.name|CustName:'hello'}}</td>
                        <td>{{stu.age}}</td>
                        <td>{{stu.seniority}}</td>
                        <td><button ng-click="showS(stu)" style="border:1 px">view button Details</button></td>
                    </tr>
                </tbody>

                </table>
                <student-details selected-students="selectedstudents" my-title="Student Details"></student-details>
               
                
       </div>
        
    
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <script src="app.service.js"></script>
    <script src="app.filter.js"></script>
    <script src="app.component.js"></script>
</body>
</html>